/*#roster-form {
  display: none;
}*/
#edit-roster-form {
  display: none;
}
#new-roster-button {
  :hover {
    text-decoration: underline;
  }
}
.edit-roster-link:hover {
    text-decoration: underline;
}
#add-rostered-resource {
  display: none;
}
/*#new-roster-panel {
  display: none;
}*/
.slide-panel {
  display: none;
}
